@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

.img_txt {
    width: fit-content;
    position: absolute;
    top: 100%;
}

img.web_panther_main {
    width: 80px;
    margin-top: 10px;
}
h5.copied_txt{
    font-size: 16px;
    font-family: "Karla", sans-serif;
}
.web_panther_txt a {
    font-size: 12px;
    font-family: "Karla", sans-serif;
    text-align: center;
    color: #000 !important;
    text-decoration: none;
}

.api_img {
    width: 300px;
}

.wht_api h1 {
    font-size: 18px;
    font-family: "Karla", sans-serif;
}

span.para {
    font-size: 16px;
    font-family: "Karla", sans-serif;
}

.wht_api.\31 {
    margin-top: 50px;
}

/* API URL  */
.apiurl {
    margin-top: 30px;
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

.arrow_img {
    width: 20px;
}

.clipboard {
    border: 0;
    padding: 16px;
    border-radius: 3px;
    background-image: linear-gradient(135deg, #1bebc9 10%, #0eccac 100%);
    cursor: pointer;
    color: #444444;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    position: relative;
    top: 0;
    transition: all 0.2s ease;
}

.clipboard:hover {
    top: 2px;
}

p {
    font-weight: 700;
}

.help_img {
    width: 1700px;
}